$base-font: "sans-serif" !default;
$base-color: #1f2433 !default;
$base-font-size: 16px !default;
$base-font-small-size: 8px !default;
$base-background-color: #fafafc !default;
$border-color: rgb(200, 200, 200) !default;
$hover-background-color: #c7c7ff !default;
$selected-background-color: #FFFFCC !default;
$alternate-background-color: darken($base-background-color, 1%) !default;